<?xml version="1.0" encoding="UTF-8"?>
<Context>
    
    <Resource name="jdbc/webproject_db" auth="Container" type="javax.sql.DataSource"
        driverClassName="oracle.jdbc.OracleDriver" 
        url="jdbc:oracle:thin:@127.0.0.1:8585:XE" 
        username="webproject_db" 
        password="1234"
        maxActive="20" maxIdle="10" maxWait="-1" />
        
</Context>